body {
  height: 100vh;
  overflow: hidden;
  font-family: "Noto Sans TC", sans-serif;
}

.section {
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://res.cloudinary.com/anhnhut/image/upload/v1645961727/dev_setups/img2_uzgktb.jpg");
  background-repeat: no-repeat;
}
.center {
  background-color: white;
  height: 80%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center .header {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/anhnhut/image/upload/v1645961726/dev_setups/img_l4hvpa.jpg");
  background-repeat: no-repeat;
}

.header h1 {
  color: white;
}

.center .footer {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn__login button {
  background-color: #00b1b7;
  margin-top: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  height: 30px;
  width: 120px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.form__login form {
  display: flex;
  flex-direction: column;
}

form .frm__icon {
  background-color: #00b1b7;
  border: none;
  width: 350px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frm__icon span {
  margin-left: 10px;
  margin-top: 5px;
}

.frm__icon input {
  border: none;
  height: 32px;
  width: 290px;
  background-color: inherit;
  margin-left: 15px;
  color: white;
  font-size: large;
  margin-top: 2px;
}
.frm__icon input:focus {
  outline: none;
}

.form__login input::placeholder {
  color: whitesmoke;
  font-size: large;
}

form button {
  margin-top: 30px;
  margin-left: 130px;
  background-color: #00b1b7;
  border-radius: 50px;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  border: none;
  color: white;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.regis {
  margin-bottom: 30px;
  color: #0b998b;
  cursor: pointer;
}
