* {
  padding: 0;
  margin: 0;
}
body {
  overflow: scroll;
}
/* header */
.header {
  height: 15vh;
  background-color: white;
}
.main-header {
  height: 10vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  border-bottom: 1.5px solid;
  border-color: #d6d6d6;
}

.main-header .header-logo {
  flex-grow: 1;
  height: inherit;
  top: -10px;
}

.header-logo img {
  height: 85px;
  width: 90px;

  left: 25%;
}

.main-header .header-search {
  flex-grow: 0.8;
  height: inherit;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-search .abs-icon {
  position: relative;
  z-index: 10;
}

.abs-icon .icon {
  position: absolute;
  top: 12px;
  left: 10px;
}

.header-search input {
  height: 36px;
  width: 268px;
  border: #dbdbdb solid 3px;
  background-color: #efefef;
  border-radius: 8px;
  border: none;
}
input[placeholder="Search"] {
  text-align: center;
}
.header-search input:focus {
  outline: none;
}

.main-header .header-function {
  flex-grow: 1.2;
  height: inherit;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-function svg {
  height: 25px;
  width: 40px;
  margin-right: 20px;
}

.header-function img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* end header */
/* layout */
.website {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left-column {
  height: 90vh;
  width: 10%;
  flex-grow: 1;
  /* background-color: #87d68d; */
}
.middle-column {
  height: 90vh;
  width: 30%;
  flex-grow: 1;
}

/* end layout */
/* left */
.left-column {
  /* background-color: seagreen; */
  /* background-color: #fff; */
  margin-right: 20px;
}

.middle-column {
  margin-right: 20px;
  padding: 10px;
}

.life-story {
  width: 100%;
  height: 120px;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border: 1.5px solid;
  border-color: #d6d6d6;
  border-radius: 4px;
}

.life-story .own-story {
  height: inherit;
  width: 15%;
  /* background-color: khaki; */
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.own-story img {
  object-fit: cover;
  width: 66px;
  height: 66px;
  border: solid red 3px;
  border-radius: 50%;
  /* animation: spinner infinite 2s linear; */
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.own-story span {
  color: black;
  font-family: sans-serif;
  align-items: center;
  margin-top: 2px;
}

.news-feed {
  height: fit-content;
  background-color: #fff;
  margin-bottom: 26px;
  border: 1.5px solid;
  border-color: #d6d6d6;
}

.info-feed {
  /* background-color: lawngreen; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-feed .logo-feed {
  flex-grow: 0.2;
  height: 50px;
  width: 50px;
  /* background-color: blue; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-feed img {
  position: absolute;
  object-fit: cover;
  width: 45px;
  height: 43px;
  border: solid white 3px;
  border-radius: 50%;
}

.info-feed .info-news {
  flex-grow: 2.2;
  height: 100%;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.info-news .own-news {
  padding-top: 0;
  margin-bottom: 2px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.info-news .where-news {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  margin-left: 5px;
  font-style: 2px;
}

.info-feed .option-feed {
  flex-grow: 0.6;
  /* background-color: lightgoldenrodyellow; */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.option-feed .option {
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #888888;
  font-weight: bold;
}

.content-feed {
  /* background-color: lightsalmon; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-feed .content-feed-img {
  height: 90%;
  /* background-color: yellow; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-feed-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.content-feed .like-cmt-shr {
  height: 40px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
.icon-like-share-cmt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-like-share-cmt svg {
  height: 25px;
  width: 40px;
  cursor: pointer;
}

.like-count {
  /* background-color: yellowgreen; */
  height: 20px;
  padding-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #00376b;
  font-weight: bold;
}

.status-dayPost {
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
}
.status-dayPost .status {
  height: fit-content;
  width: 100%;
  padding-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 5px;
}
.status span {
  font-size: 15px;
  font-weight: bold;
}

.status p {
  color: #888888;
  cursor: pointer;
}

.status-dayPost .dayPost {
  padding-left: 10px;
  font-size: 15px;
  color: #8e8e8e;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.commentary {
  /* background-color: steelblue; */
  height: 50px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-top: 1.5px solid;
  border-color: #d6d6d6;
}
/* .commentary svg {
  height: 30px;
  width: 30px;
  margin-right: 15px;
} */

/* .commentary form {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
.commentary .faIcon {
  flex-grow: 0.2;
  width: 10%;
  height: 60%;
}

.commentary input {
  flex-grow: 0.8;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
}
.commentary input:focus {
  /* flex-grow: 0.9; */
  outline: none;
}
.commentary button {
  flex-grow: 0.1;
  margin-right: 20px;
  width: 30px;
  height: 100%;
  color: #0662da;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: large;
}

.commentary button:disabled {
  color: #6ba8f6;
}

.right-column {
  height: 90vh;
  width: 30%;
  flex-grow: 1;
  /* background-color: #3d7068; */
  position: relative;
}

.right-column .right-function {
  /* background-color: springgreen; */
  width: 70%;
  height: 80%;
  position: fixed;
}

.right-function .switch-account {
  /* background-color: red; */
  height: 20%;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-around; */
}

.switch-account .avatar {
  flex-grow: 0.2;
  margin-left: 10px;
  /* background-color: aqua; */
}
.switch-account .info-account {
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
}
.switch-account .switch {
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0094f5;
  /* background-color: blueviolet; */
  cursor: pointer;
}
.switch-account .switch:hover {
  opacity: 0.5;
}

.switch-account img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.right-function .suggest4-you {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 10%;
  /* position: relative; */
  /* background-color: royalblue; */
}
.right-function .suggest-account {
  height: 70%;
  width: 40%;
  /* background-color: sienna; */
}

.suggest-account .switch-follow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-color: slateblue; */
  height: 20%;
  margin-bottom: 3px;
}

.switch-follow .avatar-follow {
  flex-grow: 0.2;
  margin-left: 10px;
}

.avatar-follow img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.switch-follow .info-account-follow {
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
}

.switch-follow .follow {
  flex-grow: 1;
  padding-left: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0094f5;
  cursor: pointer;
}
.switch-follow .follow:hover {
  opacity: 0.5;
}

.info-account-follow .follow-name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #8e8e8e;
  font-size: 13px;
}

.viewdetail {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: none;
}
.viewdetail .content-overplay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1001;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-overplay .content-view {
  background-color: white;
  height: 90%;
  width: 70%;
  z-index: 1003;
  display: flex;
  flex-direction: row;
}
.content-view .view-image {
  width: 60%;
  height: 100%;
  position: relative;
}

.view-image img {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.content-view .view-info {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.view-info .info-owner {
  /* background-color: red; */
  flex-grow: 0.1;
  border-bottom: ridge 1px #838383;
  align-items: center;
  justify-content: center;
  display: flex;
}

.info-owner .owner-avatar {
  /* background-color: red; */
  flex-grow: 0.2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner-avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.info-owner .owner-name {
  /* background-color: green; */
  flex-grow: 1.3;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  color: #000;
  font-size: 18px;
}

.info-owner .owner-option {
  /* background-color: blue; */
  flex-grow: 0.3;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #000;
  font-size: 18px;
  font-weight: bolder;
  padding-right: 20px;
}

.view-info .info-cmt {
  /* background-color: blue; */
  flex-grow: 1.5;
  width: 100%;
  position: relative;
  /* background-color: #adf7b6; */
  overflow: scroll;
}

.info-cmt .extra-coverCmt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.extra-coverCmt .extra-cmt-ownImg {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: #000;
}

.extra-cmt-ownImg img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.extra-coverCmt .extra-cmt-ownInfo {
  width: 350px;
  word-wrap: break-word;
  text-align: justify;
  margin-left: 5px;
  color: #000;
}
.extra-coverCmt .extra-cmt-option {
  flex-grow: 1;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.view-info .info-extra {
  /* background-color: yellow; */
  flex-grow: 0.4;
  display: flex;
  flex-direction: column;
}

.info-extra .extra-icon {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #000;
  font-size: 20px;
}
.extra-icon .extra-react {
  margin-left: 10px;
  flex-grow: 1;
}

.extra-icon .extra-bookmark {
  margin-right: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.info-extra .extra-likedBy {
  flex-grow: 1;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #000;
}
.info-extra .extra-cmt {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.alterContentView {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1002;
}

/* like heart */
.content-feed-img .heartLike {
  position: absolute;
  justify-content: center;
  display: none;
  animation-duration: 3s;
  animation-name: appear;
}
.heartLike img {
  width: 20%;
  height: 10%;
}
@keyframes appear {
  from {
    width: 100%;
  }

  75% {
    width: 50%;
  }

  to {
    width: 20%;
  }
}

/* responsive */
/* mobile max-width <740px */
@media only screen and (max-width: 46.1875em) {
  /* end service */
}

/* tablet */

@media only screen and (min-width: 46.25em) and (max-width: 63.9735em) {
}

/* mobile && table === width < 1024px */
@media only screen and (max-width: 63.9735em) {
  .right-column {
    display: none;
  }
  .left-column {
    display: none;
  }
}
